.requestmaildiv{
    display: flex;
    
    height: 80vh;
    align-items: center;
    justify-content: center;
}
.requestpasswordresetemailform{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
}
.requestpasswordresetemailform button{
    margin: 5px 0;
}
